body {
    /* background-color: #363847; */
    background-color: #363847;
    /* background-image: url(../img/bg2.jpg); */
    /* background-size: 120%; */
}

main, footer {
    padding-left: 160px;
}

#slide-out {
    width: 160px;
    margin-top: 70px;
}

#page2-slide {
    margin-left: 0px;
    overflow-y: scroll !important;
    background: transparent;
    height: 84vh;
}

.tabs-vertical .tabs {
    height: auto;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: flex;
}

*:focus {
    outline: 0;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
/* Track 滚动条轨道 */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #363847;
}
   
/* Thumb 可滚动小长条 */
::-webkit-scrollbar-thumb {
    background: #6e7183;
}
  
/* Thumb-hover 鼠标移动到滚动条上 */
::-webkit-scrollbar-thumb:hover {
    background: #9fa1af; 
}


.container-fab {
    display: none;
}